@using Microsoft.AspNet.Identity
@using WebApplication1.Models
@using Microsoft.AspNet.Identity.Owin
@using System.Security.Claims

@if (Request.IsAuthenticated)
            {
                var identity = (ClaimsIdentity)User.Identity;
                var username = identity.FindFirstValue(ClaimTypes.GivenName) ?? identity.GetUserName();
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right user">
            <li class="userMenu">

                <span class="userName">@username</span>
                <a href="@Url.Action("Index", "Manage")" class="user">
                    <span class="glyphicon glyphicon-user"></span>
                    <strong class="caret"></strong>
                </a>
                <div class="dropdown-users">
                    @{
                        var name = @Html.Action("GetUser", "Dashboard");
                    }
                    @Html.ActionLink("Account Settings", "Account", "Dashboard", new { id = name }, null)


                    @Html.ActionLink("View Profile", "Index", "Dashboard", new { id = name }, null)
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </div>
            </li>
            <!--<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>-->
        </ul>
                            }
                        }
                        else
                        {
                            <ul class="nav navbar-nav navbar-right">

       <!-- @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })-->
    @Html.Partial("_LoginDropDown")

                            </ul>

}
