@model WebApplication1.Models.PostViewModel
<head>
    <link href="~/Content/wbbtheme.css" rel="stylesheet" />
</head>
<body>
    <div class="postHolder">
        <div class="pathHeader">
            <div class="link">
               <a href="/Forums" class="postPath">Forums</a> 
            </div>
            <div class="link">
                <span>>></span>
            </div>
            <div class="link">
                @Html.ActionLink("hurr", "ViewForums", "Forums", new { @category = ViewBag.Cat}, null)
            </div>
            <div class="link">
                <span>>></span>
            </div>
            <div class="link">
                <span>New Thread</span>
            </div>
        </div>
        <div class="createMain">
            <div class="createPost">
                <div class="createTitle">
                    <span id="postTitle">New Thread</span>
                </div>
                <div class="createBody">
                    @using (Html.BeginForm())
            {
                        @Html.ValidationSummary()
                        <div class="post-group">
                            @Html.LabelFor(x => x.Title , new { @id = "titleLabel" })
                            @Html.EditorFor(x => x.Title)
                        </div>


                        <div class="post-group">
                            @Html.LabelFor(x => x.Body)
                            @Html.TextAreaFor(x => x.Body, new { @id = "editor" })
                        </div>

                        <button class="btn btn-default" type="submit">Submit Post</button>
                       //Create an Ajax form for preview of post, then use a javascript function to actually post the post to the controller
                        <div id="postPreview"><span>Preview</span></div>
                    }
                </div>
                <div class="createFooter">

                </div>


            </div>
        </div>
        <div id="previewHolder">

        </div>
    </div>
    
    <script>

        $(document).ready(function () {
            var wbbOpt = {
                buttons: "bold,italic,underline,,strike,sup,sub,fontcolor,fontsize,|,table,img,link,video,|,code,quote,spoiler,bullist,numlist,|,justifyleft,justifycenter,justifyright,pbreak,removeFormat"
            }
            $("#editor").wysibb(wbbOpt);

            $("#postPreview").on("click", function () {
                var previewBody = document.getElementById('hurr').innerHTML;
                $.ajax({
                    url: "/Forums/PreviewPost",
                    type: 'POST',
                    dataType: 'html',
                    data: { test: $('#hurr').html() },
                    success: function (data) {
                        $("#previewHolder").html(data);
                        $("#previewHolder").show();
                    },
                    error: function (xhr, status) {
                        alert("Sorry, there was a problem!");
                    }
                });
            });
        });
    </script>
</body>