@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNet.Identity;
@model WebApplication1.Models.UserStats
@{
    var name = Model.DisplayName;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="imageseperator"></div>
    <div class="dashcontent">
        <div class="dashmain">

            <div class="header-content">
                <table class="profileheader" id="banner">
                    <tr>
                        <td>
                            <div class="profile" style="background-image: url(@ViewBag.Profile)">
                                <div class="profilefooter">

                                    @if (Model.ApplicationUserId == User.Identity.GetUserId())
                                    {
                                        <div class="profileoption">

                                            <span class="option">@Ajax.ActionLink("Edit", "ImageEdit", "Dashboard", new { id = name, type = "profile" }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "imageuploader" }) </span>
                                        </div>
                                    }



                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="banner" style="background-image: url(@ViewBag.Banner)">
                                <div class="banneroverlay">
                                    <div class="banneroverlayleft">
                                        <div class="banneroverlayname">

                                            <span class="namespan">@Model.DisplayName</span>
                                        </div>
                                        <div class="banneroverlayquote">
                                            <span class="quotespan">@Model.Quote</span>
                                        </div>
                                    </div>
                                    <div class="banneroverlayright">
                                        <div class="banneroverlaystatus">
                                           
                                                <span class="statusOn">Online</span>
                                        </div>
                                        <div class="banneroverlaylocation">
                                            <span class="locationspan">United States</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="bannerfooter">

                                    @if (Model.ApplicationUserId == User.Identity.GetUserId())
                                    {
                                        <div class="banneroption">
                                            <span class="option">@Ajax.ActionLink("Change Cover", "ImageEdit", "Dashboard", new { id = name, type = "banner" }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "imageuploader", OnComplete = "Testing" }) </span>
                                        </div>
                                    }
                                    else
                                    {
                                        if (!ViewBag.isFriend)
                                        {
                                            using (Html.BeginForm("AddFriend", "Dashboard", new { @id = ViewBag.userName }, FormMethod.Post, new { @id = "addFriend", enctype = "multipart/form-data" }))
                                            {
                                               @Html.HiddenFor(x => x.Id)
                                                <input type="submit" style="display: none" />
                                            }
                                            <div class="addFriend">
                                                <span id="option">Add Friend</span>
                                            </div>
                                        }

                                        <div class="bannerMessage">
                                            @Html.ActionLink("Message", "Index", "Message", null, new { @class = "option"})
                                        </div>
                                    }
                                </div>

                            </div>

                        </td>
                    </tr>
                </table>

            </div>
            <div class="content-body">
                <div class="sideContent">
                    @{
                        var current = ViewBag.current;
                    }
                    <div class="sideMenu">
                        <a id="activity" class="menuItem" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#partialBody" href="/Dashboard/Index/@Model.DisplayName"><div class="glyphicon glyphicon-bullhorn b" style="display: block"></div>Activity</a>

                        @*<div class="glyphicon glyphicon-bullhorn b" style="display: block"></div>
                            @Ajax.ActionLink("Activity", "Activity", "Dashboard", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "partialBody" }, new { @class = "menuTextb" })*@
                    </div>
                    <div class="sideMenu">
                        <a id="info" class="menuItem" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#partialBody" href="/Dashboard/Info/@Model.DisplayName"><div id="info" class="glyphicon glyphicon-user b" style="display: block"></div>About Me</a>
                        @*<div class="glyphicon glyphicon-user u" style="display: block"></div>
                            @Ajax.ActionLink("About Me", "Info", "Dashboard", new AjaxOptions { HttpMethod = "GET", OnComplete = "Testing", InsertionMode = InsertionMode.Replace, UpdateTargetId = "partialBody" }, new { @class = "menuTextb" })*@
                    </div>
                    <div class="sideMenu">
                        <a id="pics" class="menuItem" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#partialBody" href="/Dashboard/Pictures/@Model.DisplayName"><div id="pics" class="glyphicon glyphicon-picture b" style="display: block"></div>Pictures</a>
                        @*<div class="glyphicon glyphicon-picture p" style="display: block"></div>
                            @Ajax.ActionLink("Pictures", "Pictures", "Dashboard", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "partialBody" }, new { @class = "menuTextb" })*@
                    </div>
                    <div class="sideMenu">
                        <a id="post" class="menuItem" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#partialBody" href="/Dashboard/Post/@Model.DisplayName"><div id="post" class="fa fa-comments fa-3x b" style="display: block"></div>Post</a>
                        @*<div class="fa fa-comments fa-3x a" style="display: block"></div>
                            @Ajax.ActionLink("Post", "Post", "Dashboard", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "partialBody" }, new { @class = "menuTextb" })*@
                    </div>
                    @*<a href="/Dashboard/Activity/@Model.DisplayName" class="sideMenu">
                            <div class="glyphicon glyphicon-bullhorn b" style="display: block"></div>
                            <span class="menuTextb">Activity</span>
                        </a>
                        <a href="/Dashboard/Info/@Model.DisplayName" class="sideMenu">

                            <span class="menuTextu">About Me</span>
                        </a>
                        <a href="/Dashboard/Pictures/@Model.DisplayName" class="sideMenu">

                            <span class="menuTextp">Pictures</span>
                        </a>
                        <a href="/Dashboard/Post/@Model.DisplayName" class="sideMenu">

                            <span class="menuTexta">Post</span>
                        </a>*@

                </div>
                <div id="partialBody">
                    @RenderBody()
                </div>



            </div>
        </div>
    </div>
    <div id="imageuploader">

    </div>
    <script>
        $(document).ready(function () {
            function check() {
                if ($(window).width() < 1365) {
                    $('tr').last().css('display', "block");
                    $('td').first().css('display', "block");
                } else {
                    $('tr').css('display', 'table-row')
                }
            }
            
            $(window).resize(check)
        });
    </script>
</body>

</html>
