@{
    Layout = "~/Views/Dashboard/_Dashboard.cshtml";
}
@model WebApplication1.Models.UserStats

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="AccountDetails">
        @using (Html.BeginForm(FormMethod.Post))
        {
            @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(x => x.NickName)
            @Html.EditorFor(x => x.NickName, new { @Value = (Model.NickName) })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Quote)
            @Html.EditorFor(x => x.Quote, new { @Value = (Model.Quote)})
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Bio)
            @Html.EditorFor(x => x.Bio)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Location)
            <select />
            <input type="text" id="country" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Apply Changes" class="btn btn-default" />
            </div>
        </div>
        }

    </div>
</body>
</html>
